
body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;

}
.header{
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  background-color: black;
  margin: 0;
  top: 0;
  left: 0;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;


}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  height: 50px;
  padding-left: 10px;
}
.navbar{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.navbar a{
  color: seashell;
  text-decoration: underline;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
}
.mission-text{
  width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.mission-text h2{
  margin: 8px 0;
}
.mission-text h4{
  margin: 8px 0;
}

.FeaturedTea{
  display: block;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 30px 0;
}
.Tea-pics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.teas{
  display: block;
  margin: 0 15px 15px 15px;
}

.teas img{
  width: 300px;
  height: 200px;
  display: block;
  margin-bottom: 10px;
}
.teas span{
  margin-top: 20 px;
}
.Location{
  display: block;
  width: 1200px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
}

.locations{
  display: flex;
  width: 980px;
  justify-content: space-between;
  align-items: center;
  margin: 15px 110px 0 110px;
}
.places{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px 10px:
  border: 1px solid black;
  background-color: black;

}
footer{
  margin-left: 20px;
  text-align: left;
}
